/* ピクセル風を作るなら、文字を原寸大にし、画像のスケールを整数倍に限るよ。覚えてね */
:root {
  --cell-size: 2rem;
  --width: 50;
  --height: 30;
  --footer-height: 50px;
}

@font-face {
  font-family: "PixelOperator";
  src: url(/assets/PixelOperator.ttf) format("truetype");
}
@font-face {
  font-family: "PixelOperator";
  font-weight: 600;
  src: url(/assets/PixelOperatorHB.ttf) format("truetype");
}
@font-face {
  font-family: "PixelOperator";
  font-weight: 700;
  src: url(/assets/PixelOperator-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "PixelOperatorMono";
  font-weight: 700;
  src: url(/assets/PixelOperatorMono-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "VeniceClassic";
  src: url(/assets/VeniceClassic.ttf) format("truetype");
}
@font-face {
  font-family: "AncientModernTales";
  src: url("/assets/Ancient Modern Tales.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PixelOperator", "Material Symbols Outlined";
  font-size: 16px;
  font-smooth: never;
  -webkit-font-smoothing: never;
}

html,
body,
div#app,
article {
  height: 100%;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
}

div#app {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#field {
  max-width: calc((var(--width) + 0.4) * var(--cell-size));
  max-height: calc((var(--height) + 0.4) * var(--cell-size) + var(--footer-height));
  margin: auto;
  main {
    position: relative;
    flex-grow: 1;
    height: 0;
    overflow: overlay;
    background-color: #c5e1a5;

    &::-webkit-scrollbar{
      width: 10px;
      height: 10px;
    }
    
    &::-webkit-scrollbar-track-piece{
      background-color: #c5e1a5;
    }
    
    &::-webkit-scrollbar-thumb{
      background-color: #00000023;
      outline: 2px solid #c5e1a5;
      outline-offset: -2px;
      border: .1px solid #00000034;
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover{
      background-color: #00000056;
    }
  }

  section {
    width: var(--cell-size);
    height: var(--cell-size);
    position: absolute;
    image-rendering: pixelated;
    background-size: cover;

    &::before {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: #c5e1a5;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;
    }
    &.covered {
      background-image: url("/assets/grass-dark.png");
    }
    &.c0 {
      background-image: url("/assets/grass.png");
    }
    &.c1 {
      background-image: url("/assets/grass-1.png");
    }
    &.c2 {
      background-image: url("/assets/grass-2.png");
    }
    &.c3 {
      background-image: url("/assets/grass-3.png");
    }
    &.c4 {
      background-image: url("/assets/grass-4.png");
    }
    &.c5 {
      background-image: url("/assets/grass-5.png");
    }
    &.c6 {
      background-image: url("/assets/grass-6.png");
    }
    &.c7 {
      background-image: url("/assets/grass-7.png");
    }
    &.c8 {
      background-image: url("/assets/grass-8.png");
    }
    &.bomb {
      background-image: url("/assets/bomb.png"), url("/assets/grass.png");
      background-size: 16px 16px, contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &.key {
      background-image: url("/assets/key.png"), url("/assets/grass.png");
      background-size: 16px 16px, contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &#player {
      position: absolute;
      z-index: 1;
      transition: transform 0.1s linear;
    }
    &#player[data-direction="up"] {
      background-image: url("/assets/up0.png");
    }
    &#player[data-direction="down"] {
      background-image: url("/assets/down0.png");
    }
    &#player[data-direction="left"] {
      background-image: url("/assets/left0.png");
    }
    &#player[data-direction="right"] {
      background-image: url("/assets/right0.png");
    }
    &#player.up {
      animation: playerUp 0.25s linear infinite alternate;
    }
    &#player.down {
      animation: playerDown 0.25s linear infinite alternate;
    }
    &#player.left {
      animation: playerLeft 0.25s linear infinite alternate;
    }
    &#player.right {
      animation: playerRight 0.25s linear infinite alternate;
    }
  }

  @keyframes playerUp {
    0%, 49% {
      background-image: url("/assets/up1.png");
    }
    50%, 100% {
      background-image: url("/assets/up2.png");
    }
  }
  @keyframes playerDown {
    0%, 49% {
      background-image: url("/assets/down1.png");
    }
    50%, 100% {
      background-image: url("/assets/down2.png");
    }
  }
  @keyframes playerLeft {
    0%, 49% {
      background-image: url("/assets/left1.png");
    }
    50%, 100% {
      background-image: url("/assets/left2.png");
    }
  }
  @keyframes playerRight {
    0%, 49% {
      background-image: url("/assets/right1.png");
    }
    50%, 100% {
      background-image: url("/assets/right2.png");
    }
  }

  .noTransition {
    transition: none !important;
  }

  footer {
    text-align: center;
    height: var(--footer-height);
    box-sizing: border-box;
    background-color: #c5e1a5;
    background-image: url("/assets/Textbox-without-banner.png");
    image-rendering: pixelated;
    padding: 0.3rem 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #4E342E;
    & > div {
      flex-grow: 1;
      border-inline-end: 1px solid #8D6E63;
      &:last-child {
        border-inline-end: none;
      }
    }
  }
}

article.title {
  background-color: #4fc3f7;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .cloud {
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 1;
    font-size: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    image-rendering: pixelated;
  }

  h1,
  section {
    z-index: 2;
    font-size: 1rem;
  }

  h1 {
    font-family: AncientModernTales, fantasy;
    font-size: 33px;
    font-weight: normal;
    color: #FFCC80;
    text-shadow: 1px 1px 0 #BF360C, 
      -2px 1px 0 #BF360C,
      -1px 1px 0 #BF360C,
      1px -2px 0 #BF360C,
      1px -1px 0 #BF360C,
      -2px -2px 0 #BF360C,
      -2px -2px 0 #BF360C,
      -1px -1px 0 #BF360C,
      1px 0px 0 #BF360C,
      0px 1px 0 #BF360C,
      -2px 0px 0 #BF360C,
      -1px 0px 0 #BF360C,
      0px -2px 0 #BF360C,
      0px -1px 0 #BF360C;
  }

  section {
    background-image: url("/assets/Worn-Parchment-BG-2.png");
    border-radius: 1rem;
    color: #5D4037;
    width: 465px;
    height: 273px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    text-align: center;
    image-rendering: pixelated;
  }

  code {
    font-family: PixelOperatorMono, monospace;
  }

  section p:first-child {
    margin-top: 0;
  }

  section button {
    display: block;
    margin: 0 auto;
    background-color: #5D4037;
    border: 0;
    font-size: 1rem;
    font-family: PixelOperator, sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: #EFEBE9;

    &:hover,
    &:focus {
      background-color: #795548;
    }
    &:active {
      background-color: #3E2723;
    }
  }
}